<!doctype html>
<html ng-app="App" class="no-js" ng-controller='LanguageCtrl' lang="{{ $root.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title translate>TITLE</title>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/index.css -->
    <link rel="stylesheet" href="styles/index.css">
    <!-- endbuild -->
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
  <nav class="navbarWM" ng-controller="CollapseCtrl">
    <div class="container">

      <div class="navbarWM__header">
        <a class="navbarWM__brand navbarWM__brand--long" href="#aboutMe" du-smooth-scroll ng-click="collapse()">Wojciech Morkowski</a>
        <a class="navbarWM__brand navbarWM__brand--short" href="#aboutMe" du-smooth-scroll ng-click="collapse()">WM</a>
        <button class="navbarWM__hamburger" type="button" ng-click="toggleCollapse()" ng-class="{'is-active': !isCollapsed}">
          <span class="navbarWM__hamburgerBox">
            <span class="navbarWM__hamburgerInner"></span>
          </span>
        </button>
      </div>

      <div class="navbarWM__collapse" uib-collapse="isCollapsed">
        <ul class="navbarWM__nav">
          
          <li>
            <a href="#aboutMe" class="navbarWM__link navbarWM__link--star" du-smooth-scroll du-scrollspy translate ng-click="collapse()">ABOUT</a>
          </li>

          <!-- <li>
            <a href="#cv" class="navbarWM__link" du-smooth-scroll du-scrollspy offset="50" ng-click="collapse()">CV</a>
          </li> -->

          <li>
            <a href="#skills" class="navbarWM__link" du-smooth-scroll du-scrollspy translate ng-click="collapse()">SKILLS</a>
          </li>

          <li>
            <a href="#contact" class="navbarWM__link" du-smooth-scroll du-scrollspy translate ng-click="collapse()">CONTACT</a>
          </li>

          <li>
            <a href="" class="navbarWM__link navbarWM__link--pink" du-smooth-scroll du-scrollspy translate ng-click="toggleLanguage(); collapse()">LANGUAGE_SWITCHER</a>
          </li>

        </ul>
      </div>

    </div>
  </nav>
  
  <section class="aboutMe" id="aboutMe">
    <div class="customContainer">
      <div class="column">
        <h1 class="aboutMe__header" translate>ABOUT</h1>
        <p translate>ABOUT_SECTION.PARAGRAPH1</p>
        <p translate>ABOUT_SECTION.PARAGRAPH2</p>
        <p translate>ABOUT_SECTION.PARAGRAPH3</p>
        
        <a href="#skills" class="btnWM btnWM--more" du-smooth-scroll offset="50">{{'ABOUT_SECTION.READ_MORE'|translate}}
          <img class="btnWM__down" src="../images/down.svg">
        </a>
      </div>
    </div>
  </section>
 
  <!-- <section class="cv" id="cv">
    <div class="container">
      <div class="cv__inner">
        {{'CV_SECTION.MAIN'|translate}}
        <a href="Wojciech_Morkowski_Front_End_CV.pdf" class="btnWM btnWM--download">
          {{'CV_SECTION.DOWNLOAD'|translate}}
          <img class="btnWM__downloadIcon" src="../images/download.svg" alt="">
        </a>
      </div>
    </div>
  </section> -->
  
  <section class="skills" id="skills">
    <div class="customContainer">
      <div class="column">
            <h1 class="section__header" translate>SKILLS</h1>
            <p translate>SKILLS_SECTION.PARAGRAPH</p>
            <ul class="skills__list">
              <li class="skills__listItem">
                <img src="../images/html.svg" alt="" class="skills__icon">HTML
              </li>
              <li class="skills__listItem">
                <img src="../images/css.svg" alt="" class="skills__icon">CSS
              </li>
              <li class="skills__listItem">
                <img src="../images/javascript.svg" alt="" class="skills__icon">JavaScript
              </li>
              <li class="skills__listItem">
                <img src="../images/angular.svg" alt="" class="skills__icon">Angular
              </li>
              <li class="skills__listItem">
                <img src="../images/bootstrap.svg" alt="" class="skills__icon">Bootstrap
              </li>
              <li class="skills__listItem">
                <img src="../images/yeoman.svg" alt="" class="skills__icon">Yeoman
              </li>
              <li class="skills__listItem">
                <img src="../images/gulp.svg" alt="" class="skills__icon">Gulp
              </li>
              <li class="skills__listItem">
                <img src="../images/ps.svg" alt="" class="skills__icon">Photoshop
              </li>
              <li class="skills__listItem">
                <img src="../images/git.svg" alt="" class="skills__icon">GIT
              </li>
              <li class="skills__listItem">
                <img src="../images/jira.svg" alt="" class="skills__icon">Jira
              </li>
              <li class="skills__listItem">
                <img src="../images/scrum.svg" alt="" class="skills__icon">Scrum
              </li>
            </ul>

            <a href="#contact" class="btnWM btnWM--more" du-smooth-scroll>
              {{'SKILLS_SECTION.QUESTIONS'|translate}}
              <img class="btnWM__down" src="../images/down.svg">
            </a>
          </div>
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="customContainer">
      <div class="column">
        <h1 class="section__header" translate>CONTACT</h1>
        <p translate>CONTACT_SECTION.PARAGRAPH</p>
        <a href="mailto:wojciech.morkowski@gmail.com" class="contact__mail">wojciech.morkowski@gmail.com</a>
        <p translate>CONTACT_SECTION.LINKS</p>
        <ul class=contact__list>
          <li>
            <a href="https://pl.linkedin.com/in/wojciechmorkowski" target="_blank"><img src="../images/ln.svg" alt="" class="contact__icon">LinkedIn</a>
          </li>
          <li>
            <a href="https://twitter.com/WMorkowski" target="_blank"><img src="../images/tw.svg" alt="" class="contact__icon">Twitter</a>
          </li>
          <li>
            <a href="https://github.com/Morkowski" target="_blank"><img src="../images/github.svg" alt="" class="contact__icon">Github</a>
          </li>
        </ul>
        {{'CONTACT_SECTION.MEETUP'|translate}}<a href="https://www.facebook.com/groups/free.code.camp.poznan/" target="_blank">{{'CONTACT_SECTION.FFC'|translate}}
        <!-- <img src="../images/FFC.svg" class="contact__icon"> -->
        </a>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      {{'FOOTER'|translate}}
    </div>
  </footer>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <!--   <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script> -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.js"></script>
    <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
