.aboutMe {

	@extend .section;

	background-image: url('../images/routes.png');
	padding-top: 50px;

	&__header {
		
		@extend .section__header;

		position: relative;
		
		&::before {

			content: "*";
			color: $pink;
			font-size: 30px;
			vertical-align: text-top;
			
			@media screen and (min-width: $screen-sm-min){

			position: absolute;
			left: -20px;

			}
		}
	}
}