.btnWM {

	@extend .btn;

	border-radius: 3px;
	font-weight: bold;
	padding: 12px 18px;
	position: relative;
	overflow: hidden;
	transition-duration: $hoverTransitionDuration;
	
	&:hover {

		transform: scale(1.05);

	}

	&__down {

		
		animation-iteration-count: infinite;
		animation-duration: 0.9s;
 	 	animation-name: slidedown;
 	 	animation-timing-function: linear;
		left: 0;
		margin-left: 5px;
		position: relative;
	}

	@keyframes slidedown {
	  from {

	    top: -30px;

	  }

	  to {

	    top: 30px;

	  }
	}

	&__downloadIcon {
		
		margin-left: 9px;
		height: 22px;
	
	}

	&--download {

		align-items: baseline;
		background-color: $pink;
		color: $textColorInverted;
		display: flex;
		font-size: 30px;
		margin-top: 0px;

		&:hover, &:focus {

			color: $textColorInverted;

		}
	}

	&--more {
		
		background-color: $green;
		color: $textColor;
		margin-top: 50px;

	}

}