.cv {

	@include container-fixed();
	
	background-color: $yellow;
	// background-image: url('../images/parallax4.png');
	// background-attachment: fixed;
	// background-size: cover;
	// background-repeat: no-repeat;
	// background-position: center;
	color: $textColorInverted;
	padding: 30px 0px;
	font-family: $font-family-serif;
	font-size: 30px;
	font-weight: bold;
	

	&__inner {

		@include make-xs-column(12);
		
		align-items: baseline;

		//hack for Firefox to center things proprerly
		
		@supports (-moz-appearance:none) and (display:contents) {
    	
    		align-items: center;

		}

		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;

	}

}