//colors
$background: 			#272822;
$backgroundAbout: 		$background;
$backgroundCv: 			#e6db74;
$backgroundSkills:		#445366;
$backgroundContact:		#161f27;
$backgroundFooter:		#101112;

$textColor: 			#f8f8f2;
$textColorInverted:		$backgroundFooter;

$blue: 					#66d7ed;
$green: 				#6D9C0E;
$pink: 					#f92672;
$purple: 				#7b0944;
$yellow: 				#e6db74;


//transition times
$hoverTransitionDuration: 0.15s;
$changeColorDuration: 0.8s;

//Google font weights

$normal: 400;
$bold: 700;
